#header
{
    width: 97vw;
    height: 20vh;
    background-color:#adaaaa;
    position:relative;
    text-align: center;
    vertical-align: middle;
    color:#004080;
    font-family:Cambria;
    font-size:xx-large;
    font-weight:600;  
    border: solid 4px #004080;
}

#MiddleContainer
{
    position:relative;
    width:97vw;
    height:70vh;
    background-color:#004080;
    border: solid 4px #004080;
    vertical-align: middle;
    align-content:center;
}

#leftSidePanel
{
    width: 20vw;
    height: 70vh;   
    background-color: #778CB3;
    color: #FFFFFF; 
    position:absolute;
    left: 0vw;
    top:0vh;    
}

#content
{
    position: absolute;
     top: 0vh;
     left:21vw;
     width: 55vw;
     height: 70vh;
     background-color: gray;
}

#rightSidePanel
{
    width: 20vw;
    height: 70vh;  
    background-color: #778CB3;
    color: #FFFFFF;
    position:absolute;
    left:77vw;
    top:0vh;
}

#footer
{
    background-color: #F7CB33;
    width: 97vw;
    height:5vh;
    position:static;
    color: #000000; 
    font-size: 90%;
    display:block;
    text-align:center;
    border: solid 4px #004080;
  
}
.circle
{
    width:40px;
    height:40px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px; 
    border: solid outset 1px;
}
.img
{
  vertical-align: middle;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
}


